[submodule "src/third_party/json"]
	path = src/third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "src/third_party/cpp-httplib"]
	path = src/third_party/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
